mixin header_navigation_content
	ul
		li: a(href="{{site.baseurl}}/index.html") HOME
		li: a(href="#") ABOUT  
		li: a(href="#") CONTACT
		
.header_navigation_container
	.header_logo

	.header_navigation
		+header_navigation_content

	a#header_navigation_mobile_button.header_navigation_mobile_button(href="#") 

.header_navigation_mobile_container
	#navigation_mobile_id.navigation_mobile_class
		+header_navigation_content

	