.header_navigation_container
	position: relative 
	//child absolute
	margin: 0 -9999rem
	height: 70px
	//add back section padding value
	padding: .25rem 9999rem
	background: #bd3316
	color: white
	font-size: 1.125rem
	z-index: 2

.header_logo
	position: relative
	width: 50px
	height: 50px
	top: 10px
	left: 20px
	background: white

.header_navigation
	position: absolute
	top: 10px
	margin-left: 70px

	ul

		li 
			display: inline
			margin-right: 50px
		a 
			text-decoration: none
			font-family: 'Teko', sans-serif;
			font-size: 20px
			color: #f3f3f3

//==============================Mobile Navigation Start=============================
#header_navigation_mobile_button
	display: none
	position: fixed
	width: 30px
	height: 30px
	top: 25px
	right: 20px
	background:
		image: url(../img/menu_button.svg)
		repeat: no-repeat
	transition: all 0.2s ease-in-out

.header_navigation_mobile_container
	position: fixed
	display: block
	top: 0px
	right: -400px
	background: #bd3a1e
	width: 400px
	min-height: 100%
	border-left: solid
		color: white
	z-index: 2
	transition: all 0.2s ease-in-out
	ul
		position: fixed
		margin-left: 0px
		padding-left: 20px
		list-style-type: none
		text-align: left

		li
			margin-bottom: 20px
		
		a 
			font-family: 'Teko', sans-serif;
			text-decoration: none
			color: white

//==============================Mobile Navigation END=============================

//Small Monitors and Tablets 
@media (min-width: 501px) and (max-width: 800px)
	.header_navigation_container
		position: fixed
		top: 0px
		background-color: #bb2506
		
	.header_navigation
		display: none

	#header_navigation_mobile_button
		display: block

	#header_navigation_mobile_button.right_push
		position: fixed
		right: 220px
		transition: all 0.2s ease-in-out

	.header_navigation_mobile_container.right_open
		position: fixed
		width: 200px
		right: 0px
		transition: all 0.2s ease-in-out

	.page_container.open
		left: -200px
		transition: all 0.2s ease-in-out
			
//Mobile Devices
@media (min-width: 50px) and (max-width: 500px)
	.header_navigation_container
		position: fixed
		top: 0px
		background-color: #bb2506
		
	.header_navigation
		display: none

	#header_navigation_mobile_button
		display: block

	#header_navigation_mobile_button.right_push
		position: fixed
		right: 120px
		transition: all 0.2s ease-in-out

	.header_navigation_mobile_container.right_open
		position: fixed
		width: 100px
		right: 0px
		transition: all 0.2s ease-in-out

	.page_container.open
		left: -100px
		transition: all 0.2s ease-in-out