<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
        <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">
        

    </head>
    
        
    <body>
        <header class="outside_wrapper">
            <div class="page_container">
                {{ content }}
            </div>
        </header>
        <footer class="footer_outside_wrapper">

        </footer>
    </body>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/navigation_button.js"></script>
   
</html>
